$body-bgcolor: #32546a;
$body-font: Myriad Pro;
$body-fontcolor-default: #a2b9cf;
$body-fontcolor-deflink: #cccccf;
$title-size: 1.3em;
$description-size: 1em;
$description-line-height: 1.6em;
$definition-height: 6em;
$definition-bgcolor: #142952;
$definition-bgcolor-even: #102142;
$def-edit-bgcolor: #a2b9cf;
//todo: you should add a 'debug' style that can be applied to elements quickly for testing borders and padding
