$light-bg: rgba(236, 255, 255, 0.80);

$body-bgcolor: #32546a;
$body-font: sans-serif;
$body-fontcolor-default: #a2b9cf;

$title-size: 1.3em;
$title-color: #ffffff;

$def-form-bgcolor: #ffffff;

$description-size: 0.9em;
$description-line-height: 1.6em;

$definition-height: 6em;
$definition-bgcolor: $light-bg;
$definition-bgcolor-even: $light-bg;
$def-edit-bgcolor: #a2b9cf;
$def-list-title-color: #000000;
$def-list-desc-color: #666666;

$deflink-normal-color: #000000;
$deflink-hover-color: #000000;
//
//todo: you should add a 'debug' style that can be applied to elements quickly for testing borders and padding
