$body-bgcolor: #1a366a;
$body-font: Myriad Pro;
$body-fontcolor-default: #a2b9cf;
$body-fontcolor-deflink: #cccccf;
$title-size: 1.3em;
$description-size: 1em;
$definition-height: 6em;
$definition-bgcolor: #142952;
$definition-bgcolor-even: #102142;
//you should add a 'debug' style that can be applied to elements quickly for testing borders and padding
