@import "vars";

body {
  font-family: $body-font;
  background: $body-bgcolor url("../img/aurora_low.jpg") no-repeat fixed;
  background-size: cover;
}

a {
  &:link {
    text-decoration: none;
    color: $body-fontcolor-default;
  }
  &:visited {
    text-decoration: none;
    color: $body-fontcolor-default;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  resize: none;
}

#left-bar {
  position: fixed;
  margin: 3% 0% 0% 3%;
  width: 25%;
}

#app-title {
  color: $body-fontcolor-default;
  font-size: 4em;
  font-variant: small-caps;
  margin: -1em 0 0;
}

#app-tagline {
  color: $body-fontcolor-default;
}

#definition-list {
  margin-left: 50%;
  width: 50%;
}

#definition-container {
  background-color: $definition-bgcolor;
  padding: 1% 1% 10% 1%;

  &:nth-child(even) {
    background-color: $definition-bgcolor-even;
  }

  &:hover {
    .ellipsis {
      max-height: 18em;
    }
    .ellipsis:after {
      content: '';
    }
  }
}

.def-form-element {
  border-radius: 10px;
}

.def-list-title {
  font-family: $body-font;
  font-size: $title-size;
}

.def-list-description {
  font-family: $body-font;
  font-size: $description-size;
}

.def-form-title {
  font-size: $title-size;
}

.def-form-description {
  display: block;
}

.def-edit-title {
  font-family: $body-font;
  font-size: $title-size;
  background-color: $def-edit-bgcolor;
}

.def-edit-description {
  font-family: $body-font;
  font-size: $description-size;
  background-color: $def-edit-bgcolor;
}

.definition {
  color: $body-fontcolor-default;
  .title {
    font-size: $title-size;
  }
  .hover_only {
    opacity: 0;
  }
}

.definition_hover {
  .hover_only {
    opacity: 100;
  }
  .fake-a {
    color: $body-fontcolor-deflink;
    border-bottom: 1px $body-fontcolor-default dotted;
    cursor: pointer;
    &:hover {
      color: white;
      border-bottom: 1px solid;
    }
  }
}

.bold {
  font-weight: bold;
}

.definition_options {
  display: inline;
  float: right;
}