<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
    </div>
    <div class="modal-body">
        <p>Memry is a light wiki-like application built using MongoDB, Express, Angular, and Node.js. Quickly create dictionaries of terms, biographies, or other interlinking collections of information. Titles of newly-made entries will automatically become links in the descriptions of other entries.</p>
        <p>To take memry for a quick spin, use the following login:</p>
        <ul>
            <li>Email: jimgrant@gmail.com</li>
            <li>Password: guest</li>
        </ul>
        <p>After logging in, select Game of Thrones from the list dropdown.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary center-block" ng-click="dismiss()">OK!</button>
    </div>
</div>