<article
        class="definition"
        id={{def._id}}
        ng-class='{definition_hover: hover}'
        ng-mouseenter="hover = true"
        ng-mouseleave="hover = false"
        >
    <div ng-hide="def.editMode" ng-dblclick="turnOnEditMode()">
        <span class="def-title">{{def.title}}</span>
        <div class="def-description ellipsis">
            <span compile="def.descriptionURL"></span>
        </div>
        <div class="def_options">
            <a class="hover_only" href="" ng-click="turnOnEditMode()">Edit</a>
            <a class="hover_only" href="" ng-click="removeDef()">Remove</a>
        </div>
    </div>
    <div ng-show="def.editMode" ng-dblclick="turnOffEditMode()">
        <input
            name="title"
            class="title-input"
            ng-model="editTitle"
            type="text"
        />
        <textarea
            name="description"
            placeholder="Describe '{{def.title}}' here..."
            class="description-input"
            rows="{{getDescRows()}}"
            maxlength="1024"
            required
            data-ng-model="editDescription"
            jg-enter="submitDef()"
        ></textarea>
        <div class="def_options">
            <a href="" ng-click="turnOffEditMode()">Cancel</a>
            <a href="" ng-click="submitDef()">Submit</a>
        </div>
    </div>
</article>