<div id="description-container" collapse="isCollapsed">
    <div id="description-input-container">
        <textarea
            name="description"
            id="description-input"
            placeholder="Describe '{{title}}' here..."
            rows="{{getDescRows()}}"
            maxlength="1024"
            required
            data-ng-model="description"
        ></textarea>
    </div>
    <div id="description-btn-container">
        <button class="btn btn-default">Submit</button>
        <button class="btn btn-default">Cancel</button>
    </div>
</div>