<div>
    <form ng-submit="addButton()">
    <div class="center-column" id="search-container">
        <input
            name="title"
            placeholder="Search or Add New"
            class="title-input"
            ng-model="title"
            ng-focus="onSearchFocus()"
            ng-change="onSearchChange()"
            ng-blur="onSearchBlur()"
            type="text"
        />
    </div>
    <div class="" id="search-btn-container">
        <button
            id="search-btn"
            ng-click="submit()"
            >
            <span
                class="search-icon"
                ng-class="{'search-icon-default': !title, 'search-icon-found': titleFound(), 'search-icon-makeNew': !titleFound()}"
            ></span>
        </button>
    </div>
    </form>
</div>