<div>
    <form ng-submit="addButton()">
    <div id="search-container">
        <input
            name="title"
            placeholder="Search or Add New"
            class="search"
            ng-model="title"
            ng-focus="onSearchFocus()"
            ng-change="onSearchChange()"
            ng-blur="onSearchBlur()"
            type="text"
        />
    </div>
    <div class="" id="search-btn-container">
        <button
            id="search-btn"
            ng-click="addButton()"
            data-ng-disabled="isInvalid()"
            >
            <span class="search-icon search-icon-found"></span>
        </button>
    </div>
    </form>
</div>