<div>
    <header id="top-bar">
        <strong id="brand">memry</strong>
        <username-dropdown></username-dropdown>
    </header>
    <div class="center-column animate animate-left" id="login-container" ng-show="showLogin">
        <tabset justified="true">
            <tab>
                <tab-heading><h1>Log In</h1></tab-heading>
                <form name="logInForm" ng-submit="loggingIn(logInForm)">
                    <div class="alert alert-danger" role="alert" ng-show="loginError">
                        {{loginError}}
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" ng-model="login.email" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="pw" class="form-control" ng-model="login.password" required>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
                    </div>
                </form>
            </tab>
            <tab>
                <tab-heading><h1>Sign Up</h1></tab-heading>
                <form name="signUpForm" ng-submit="signingUp(signUpForm)">
                    <div class="alert alert-danger" role="alert" ng-show="signupError">
                        {{signupError}}
                    </div>
                    <div class="form-group">
                    <label>Email:</label>
                    <input type="email"  name="email" class="form-control" ng-model="signup.email" required>
                    </div>
                    <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="pw" class="form-control" ng-model="signup.password" required>
                    </div>
                    <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="pwconf" class="form-control" ng-model="signup.passwordconf" required>
                    </div>
                    <div class="form-group">
                    <div class="g-recaptcha" id="g-recaptcha" data-sitekey="6Ld0eQcTAAAAALn_hMrslokm7atj8N4dnM5Yzr8l"></div>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                    </div>
                </form>
            </tab>
        </tabset>
        <!--
        <h1>- or -</h1>
        <button class="btn btn-default" ng-click="loginFacebook()">Sign in with Facebook</button>-->
    </div>
    <div class="center-column animate animate-right" id="selectlist-container" ng-hide="showLogin">
        <h1 class="text-center">Select a List</h1>
        <label>Create New:</label>
        <form name="createNewListForm" class="form-inline">
            <div class="form-group">
                <input type="text"
                       name="create-list-name"
                       class="form-control"
                       placeholder="Type list name here"
                       ng-model="createListName"
                       ng-change="createListNameChange()">
            </div>
            <button class="btn btn-default" ng-click="formSubmit(null)" ng-disabled="createButtonDisabled">Create</button>
        </form>
        <br>
        <form name="selectListForm">
            <div class="form-group">
                <label>or Select Previous:</label>
                <select class="form-control" ng-model="selectList" ng-change="formSubmit(selectList)">
                    <option ng-repeat="deflist in deflists" value="{{$index}}">{{deflist}}</option>
                </select>
            </div>
            <button class="btn btn-default btn-lg" ng-click="switchViews()">Go Back</button>
        </form>
    </div>
</div>