<div>
    <h1>Login</h1>
    <form ng-submit="loginSubmit()">
        Email: <input type="text" ng-model="email">
        Password: <input type="text" ng-model="password">
        <input type="submit">
    </form>

    <h1>Create Account</h1>
    <form ng-submit="createAccountSubmit()">
        Email: <input type="text" ng-model="createEmail">
        Password: <input type="text" ng-model="createPassword">
        <input type="submit">
    </form>

    <h1>OAuth</h1>
    <button ng-click="loginFacebook()">Sign in with Facebook</button>
    <!--<button ng-click="loginGoogle()" id="signinButton">Sign in with Google</button>-->
    <!--<div id="result"></div>-->

    <button ng-click="getAll()">Get All Users</button>
</div>