<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
            </div>
            <div class="modal-body">
                <p>This app was created for the CodeFellows Python Coding Challenge.</p>
                <p>It uses Django 1.7 to allow management of user information, contained in a NoSQL database.</p>
                <p>Some additional features beyond what was required for the challenge:</p>
                <ul>
                    <li><p>Bootstrap was used to give the app a nice coat of paint. I wanted to learn how to use Bootstrap, and this seemed like an ideal project.</p></li>
                    <li><p>A biography field was added to the User model. A shortened version of this bio is automatically delivered by Django for the index page.</p></li>
                    <li><p>A confirmation popup is given when attempting to delete a user.</p></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary center-block" data-dismiss="modal">OK!</button>
            </div>
        </div>
    </div>
</div>