<div>
    <div id="search-container">
        <input
            name="title"
            placeholder="Search or Add New"
            id="search"
            ng-model="title"
            ng-focus="onSearchFocus()"
            ng-change="onSearchChange()"
            ng-blur="onSearchBlur()"
            type="text"
        />
    </div>
    <div class="" id="search-btn-container">
        <button
            class="btn btn-default"
            type="button"
            ng-click="addButton()"
            >Add
        </button>
    </div>
</div>