<span id="username-dropdown" dropdown on-toggle="toggled(open)">
  <a href="#" class="dropdown-toggle" dropdown-toggle>
      {{username}}
      <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li>
          <a href>Change List</a>
      </li>
      <li class="divider"></li>
      <li>
          <a href>About</a>
      </li>
      <li>
          <a href>Github</a>
      </li>
      <li class="divider"></li>
      <li>
          <a href ng-click="logoff()">Log Off</a>
      </li>
  </ul>
</span>
