<span id="username-dropdown" dropdown on-toggle="toggled(open)">
  <a href="#" class="dropdown-toggle" dropdown-toggle>
      <span ng-show="currentListName">{{currentListName}}</span>
      <span ng-hide="currentListName">Menu</span>
      <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li class="dropdown-header" ng-show="listnames">
          Switch List
      </li>
      <li ng-repeat="listname in listnames">
          <a href ng-click="switchList($index)">{{listname}}</a>
      </li>
      <li class="divider" ng-show="listnames"></li>
      <li>
          <a href ng-click="openAbout()">About</a>
      </li>
      <li>
          <a href="https://github.com/MigrantJ/memry" target="_blank">Github</a>
      </li>
      <li class="divider" ng-show="username"></li>
      <li class="dropdown-header">
          {{username}}
      </li>
      <li>
          <a href ng-click="logoff()" ng-show="username">Log Off</a>
      </li>
  </ul>
</span>
